<!-- MY SCRIPTS -->
<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

       <script>
          $(".button-collapse").sideNav();
       </script>
       <!-- END MY SCRIPTS -->
<!-- FIXED ACTION BUTTON -->
<div class="fixed-action-btn">
  <a href="#" class="btn-floating  green accent-4 btn-large"><i class="material-icons">menu</i></a>
  <ul>
    <li><a href="../" class="btn-floating  green accent-4 btn-large" ><i class="large material-icons">home</i></a></li>
    <li><a href="../contact" class="btn-floating green accent-4  btn-large"><i class="large material-icons">call</i></a></li>
    <!--<li><a href="../about" class="btn-floating green accent-4  btn-large"><i class="large material-icons">help</i></a></li>


    <li><a href="https://www.etsy.com/shop/DaoWiz" class="btn-floating green accent-4  btn-large"><i class="large material-icons">shopping_cart</i></a></li>
    -->

  </ul>
</div>
