
<footer class="page-footer">
       <div class="footer-copyright">


        <!-- <div id="sound" align="center">
           <audio id="Test_Audio" controls>
             <source src= "/assets/sounds/audio.mp3" type="audio/mpeg" >
           </audio>
         </div>-->


            <div>
              <img src="/assets/img/ivan.png" alt="bitcoin core logo" width="20vw">  <span class="copyright">&copy;  {{ site.time | date: '%Y' }} {{ site.owner.name }}</span>
            </div>
       </div>
</footer>
