<body>
  <script>
     var audio = document.getElementById("Test_Audio");
       audio.volume = 0.2;
  </script>
  </body>
<footer class="page-footer">
       <div class="footer-copyright">


         <div id="sound">

           <audio id="Test_Audio" controls>
             <source src= "/assets/sounds/audio.m4a" type="audio/mpeg" volume=0.2;>
           </audio>
         </div>
         <!--
         <div>
           <p>Copyright - Ivan Douwes 2020</p>
         </div>
         -->

       </div>
</footer>
