<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140801285-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140801285-1');
</script>
<button onclick="one()">1</button>
<button onclick="two()">2</button>
<button onclick="four()">4</button>

<script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a "loop" variable
var i;

// Full-width images
function one() {
 for (i = 0; i < elements.length; i++) {
   elements[i].style.flex = "100%";
 }
}

// Two images side by side
function two() {
 for (i = 0; i < elements.length; i++) {
   elements[i].style.flex = "50%";
 }
}

// Four images side by side
function four() {
 for (i = 0; i < elements.length; i++) {
   elements[i].style.flex = "25%";
 }
}
</script> 

      <!--Import Google Icon Font-->
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link rel="stylesheet" href="../css/main.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Ivan Douwes Online</title>
</head>
