<head>
  <button onclick="one()">1</button>
  <button onclick="two()">2</button>
  <button onclick="four()">4</button>
  <script>
  // Get the elements with class="column"
  var elements = document.getElementsByClassName("column");

  // Declare a "loop" variable
  var i;

  // Full-width images
  function one() {
   for (i = 0; i < elements.length; i++) {
     elements[i].style.flex = "100%";
   }
  }

  // Two images side by side
  function two() {
   for (i = 0; i < elements.length; i++) {
     elements[i].style.flex = "50%";
   }
  }

  // Four images side by side
  function four() {
   for (i = 0; i < elements.length; i++) {
     elements[i].style.flex = "25%";
   }
  }
  </script>
</head>

<div class="message">
  <strong>Your'e using a large screen, this site is best viewed on a mobile device in portrait orientation.</strong>
</div>
<div class="landingpage">
  My name is Ivan and this is my personal portal for presenting my creative work, services and other interests.


  <div class="row">
    <div class="column">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
    </div>
    <div class="column">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
    </div>
    <div class="column">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
    </div>
    <div class="column">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
      <img src="/assets/img/portfolio/0001.png">
    </div>
  </div>





















      <!--<img style="text-align:center; display: block; margin-left: auto; margin-right: auto;" src="" alt="DAOWIZ foundation" width="209" height="209">-->
      <!--<a>~ Living Inspiration ~</a>
      <br>
      <a>are you ready for the future?</a>-->
<!--
      <div class="cal">
      <a href="../calendar"><img src="../assets/img/calendar.png" width="60vw" height="60vh"></a>
      </div>
<div class="play">
  <div class="tophat">
    <a href="../payments"><img src="../assets/img/tophat_coins.png" width="60vw" height="60vh"></a>
  </div>

<div class="playbutt">
  <a href="https://daowiz.bandcamp.com/"><img src="../assets/img/1432343177.png" width="60vw" height="60vh"></a>
</div>
</div>

<br>

<div class="social">
   <a href="https://www.facebook.com/daowizmusic/"><img src="../assets/img/facebook.png"  alt="Facebook" height="30vh" width="30vw"></a><a href="https://www.instagram.com/daowiz.music/"><img src="../assets/img/instagram.png"  alt="Instagram" height="30vh" width="30vw"></a>
<br>
</div>

<div class="logo">
<a> <img src="../assets/img/daowiz_temp.png" alt="ff" height="auto" width="100%" ></a>
</div>
-->

<!--
<hr>
<p>
    <a href="music-arts"><img  style="display: block; margin-left: auto; margin-right: auto;" src="" alt="Music/Arts" width="270" height="48">
    </a>
</p>
<hr>
-->
<!--<p>
    <a href="technology"><img style="display: block; margin-left: auto; margin-right: auto;" src="" alt="Technology" width="270" height="48">
    </a>
</p>
<hr>
<p>
    <a href="planet"><img style="display: block; margin-left: auto; margin-right: auto;" src="" alt="People and Planet" width="270" height="48">
    </a>
</p>
<hr>
-->
</div>
<!--Page look and listen - probably the first page-->



<!--Page "join the revolution" - ideas, skills, donate, invest, etc.-->



<!--Page bookings - book a gig + get daowiz to your neighborhood system -->


<!--Page treasure hunt-->
<!--Page residencies-->
<!--Page apprenticeships-->
