<!--
<div class="message">
  <strong>This site is better viewed on mobile..</strong>
</div>
-->


<body>
  <div id="wrapper">
<!--<div id="gallery">-->
    <section class="GalleryGrid">

      <a href= "#"
         title= "hello title"
         class= "Gallery_Photo"
         style= "background-image: url('/assets/img/futurevibes/IMG_20200331_160359.jpg')">
      </a>

      <a href="#"
        title = "hello title"
        class="Gallery_Photo"
        style="background-image: url('/assets/img/futurevibes/hangingbythread.jpg')">
      </a>

      <a href="#"
        title = "hello title"
        class="Gallery_Photo"
        style="background-image: url('/assets/img/portraits/IMG_20200325_122812.jpg')">
      </a>

      <a href= "#"
         title= "hello title"
         class= "Gallery_Photo"
         style= "background-image: url('/assets/img/futurevibes/IMG_20180613_125758_292.jpg')">
      </a>

      <a href="#"
        title = "hello title"
        class="Gallery_Photo"
        style="background-image: url('/assets/img/futurevibes/IMG_20180613_130227_754.jpg')">
      </a>

      <a href="#"
        title = "hello title"
        class="Gallery_Photo"
        style="background-image: url('/assets/img/futurevibes/IMG_20200331_160359.jpg')">
      </a>
      <a href= "#"
         title= "hello title"
         class= "Gallery_Photo"
         style= "background-image: url('/assets/img/futurevibes/IMG_20200403_135606.jpg')">
      </a>

      <a href="#"
        title = "hello title"
        class="Gallery_Photo"
        style="background-image: url('/assets/img/futurevibes/IMG-20150520-WA0000.jpg')">
      </a>

      <a href="#"
        title = "hello title"
        class="Gallery_Photo"
        style="background-image: url('/assets/img/portraits/IMG_20200119_140856.jpg')">
      </a>
      <a href= "#"
         title= "hello title"
         class= "Gallery_Photo"
         style= "background-image: url('/assets/img/clayman.jpg')">
      </a>

      <a href="#"
        title = "hello title"
        class="Gallery_Photo"
        style="background-image: url('/assets/img/forest.jpg')">
      </a>

      <a href="#"
        title = "hello title"
        class="Gallery_Photo"
        style="background-image: url('/assets/img/launch.jpeg')">
      </a>
      
    </section>
  <!--</div>-->
<!--
  <div id="ivan">
      <img src="/assets/img/ivan.png" alt=""/>
      </div>-->

</div>
</body>
