body,html {
  color: #0091ea !important;
  background-color: #252525;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 140vh;
  /*position: absolute;
  display: flex;
  flex-wrap: wrap;
  */
}

body{
 width: 100%;
 padding-left: 10px;
 padding-right:10px;

}

.my_header{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 5vw;
  text-align:center;
  height:25vw;
  color:#fff;
  font-style:bold;
  background-color: #252525;
  margin:-20px 0px 0px 0px;
  padding-top:5px;

}

.mylist {
  list-style-position: outside;
  list-style-type: circle;
  display: block;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

/*.zoomer{
  background-image:url("/assets/img/site_iconsetc/zoom_gest.png");

  text-align: center;
  width: 14vw;
  height: 14vw;
  z-index: 10;
  position: fixed;
  /*bottom: 40vw;
  right:5vw;
  border: none;
  padding-left: -10px;
  position: -webkit-sticky;
  position: sticky;
  top: 55vh;
  left:43vw;
  padding: 5px;

  background-color: #cae8ca;
  border: 2px solid #4CAF50;

}*/

.page {
  width:inherit;
  padding-left: 15px;
  padding-right: 15px;
  /*height: 120%;
  width:100%;*/
}

figure {
  text-align: center;
  display:inline-block;
  width: auto;
  margin: 0;
  padding:0;
}

figcaption {
  background-color: #212121;
  color:#525252;
  font-style: italic;
  padding: 0px;
}

.playbutts{

  bottom:15vh;
  /*width: 80vw;*/
}
/*@media only screen and (max-width:900px) {
  body,html {
    padding: -30px 15px 0px 15px;
  }

  figure {
    width: auto;
    margin: 0px;
    padding:0px;
  }
  .playbutts{
    width: auto;

  }
}
.message {
  color: #ff0000;
  z-index: 3;
  font-size: 20;
  text-align: center;
  font-style: italic;
  background-color: #000;
}*/

@media (max-width: 900px) {


}



h1{
  font-size: 3em;
  color: ##f2ebeb;
}
h3 {
  font-size: 1.5em;
}


hr {
  border-top: 0.5px solid #636363;
  width:100%;

  /*border-bottom: 0.5px solid #333333;*/
}

footer.page-footer {
  background-color: #474747 !important;
  border-top:3px solid #66bb6a;
  min-height: 0;
  vertical-align: baseline;
  z-index: 2;
  width:100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  text-align: center;
}

footer.page-footer .footer-copyright {
  background-color: #292929 !important;
  padding-left:20px;
  padding-top:10px;
  text-align: center;
}

/* messages */

/* messages */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.page-title {
  color: ##f2ebeb;
}

/*@keyframes fader{
  0% {background: url("/assets/img/launch.jpeg"); background-size:cover;}
  7.69% {background: url("/assets/img/futurevibes/blob.jpg"); background-size:cover;}
  15.3% {background: url("/assets/img/futurevibes/hangingbythread.jpg"); background-size:cover;}
  23.07% {background: url("/assets/img/portraits/IMG_20200325_122812.jpg"); background-size:cover;}
  30.76% {background: url("/assets/img/futurevibes/IMG_20180613_125758_292.jpg"); background-repeat:repeat;}
  38.46% {background: url("/assets/img/futurevibes/IMG_20180613_130227_754.jpg"); background-size:cover;}
  46.15% {background: url("/assets/img/futurevibes/IMG_20200331_160359.jpg"); background-size:cover;}
  53.84% {background: url("/assets/img/futurevibes/IMG_20200403_135606.jpg"); background-size:cover;}
  61.53% {background: url("/assets/img/futurevibes/IMG-20150520-WA0000.jpg"); background-size:cover;}
  69.23% {background: url("/assets/img/portraits/IMG_20200119_140856.jpg"); background-size:cover;}
  76.92% {background: url("/assets/img/clayman.jpg"); background-size:cover;}
  84.61% {background: url("/assets/img/forest.jpg"); background-size:cover;}
  100% {background: url("/assets/img/launch.jpeg")}
}*/

#wrapper{
  width:auto;
  margin-top:-50px;
  border: none;
  padding:0px;
}

.GalleryGrid{
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Gallery_Photo{
  width:33.3%;
  width:calc(33.3% - 2px);
  height:30vw;
  background-position: center;
  background-size: cover;
  margin-bottom: 3px;
}


/*#gallery {
  margin-top: -45px;
  max-width: 1024px;
  border: none;
  background: skyblue;
  animation: fader 40s cubic-bezier(.8,0,0,.8) infinite;
}*/

#Test_Audio {
  position:relative;
  height:200px;
  width:200px;


}
audio::-webkit-media-controls-play-button{

}
.paypal_subscribe{
  width:20%;
}
ul#patron_subs li{
  /*display:inline;*/
  padding: 20px 0px 20px 0px;
  text-align: center;
}
